.container {
  max-width: 400px;
}

.backlog {
  background-color: rgba(0, 71, 171, 0.7);
  color: white;
}

.text-horizontal{
  top:50%;
  height: 100%;
}

.error {
  color: red;
}

.warning {
  color: orange;
}

.good {
  color: green;
}

.breaker {
  margin-top: 10px;
}

.figure-caption{
  color: rgb(0, 0, 0);
}

.half-width{
  width: 150px;
}

.fancy{
  font-family: "Gloria Hallelujah"
}

#submit-button{
  margin-top:15px;
}

.btn-primary.disabled, .btn-primary:disabled{
  background-color: grey !important;
}